* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  font-family: "Nunito", sans-serif;
  padding-top: 64px;
}

/* Fuente ATLANTIDA */
@font-face {
  font-family: "OstrichSans-Heavy";
  src: url(./fonts/OstrichSans-Heavy.otf);
}
main h1, main h3, main h2 {
  font-family: "OstrichSans-Heavy";
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
main h2 {
  font-size: 2.25rem;
  margin-bottom: 0.4rem;
}
main h3 {
  font-size: 2rem;
  margin-bottom: 0.3rem;
}

#whatsapp {
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 10;
}
#whatsapp a img {
  width: 60px;
}
#whatsapp a img:hover {
  transform: scale(1.1);
}

.container__main {
  width: 100%;
  margin: 0;
  padding: 3rem 0;
}

.bkgATLBody {
  background: #f2f2f2;
}

.bkgATLBodyCont {
  background: #eaeaea;
}

.border-radius {
  border-radius: 5px;
}

.youtube {
  width: 100%;
  max-width: 480px;
}

.linkCurso {
  border-radius: 5px;
  transition: 0.3s;
}
.linkCurso:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  background: #006878;
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 20px;
}
.header__nav--brand img {
  display: block;
  width: 100%;
}
.header__nav--toggler {
  display: none;
  position: relative;
  width: 25px;
  height: 19px;
  cursor: pointer;
}
.header__nav--toggler span {
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #f2f2f2;
  transition: all 0.3s;
}
.header__nav--toggler span:nth-child(1) {
  top: 0px;
  left: 0px;
}
.header__nav--toggler span:nth-child(2) {
  top: 8px;
  left: 0px;
  opacity: 1;
}
.header__nav--toggler span:nth-child(3) {
  bottom: 0px;
  left: 0px;
}
.header__nav--togglerClose span:nth-child(1) {
  transform: rotate(45deg);
  top: 8px;
}
.header__nav--togglerClose span:nth-child(2) {
  opacity: 0;
}
.header__nav--togglerClose span:nth-child(3) {
  transform: rotate(-45deg);
  top: 8px;
}
.header__nav--links {
  display: flex;
  flex-direction: row;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header__nav--links li {
  transition: all 0.25s;
}
.header__nav--links li a {
  color: #ffffff;
  text-decoration: none;
}
.header__nav--links li:hover {
  transform: translateY(-5px);
  transition: all 0.25s;
}

@media screen and (max-width: 768px) {
  .header__nav--toggler {
    display: inline-block;
  }
  .header__nav--links {
    position: absolute;
    top: 63px;
    flex-direction: column;
    padding: 1rem 0;
    background: #006878;
    left: 0px;
    width: 0%;
    overflow: hidden;
    animation-name: navLinksHide;
    animation-duration: 0.3s;
    animation-timing-function: ease;
  }
  .header__nav--links li {
    padding-left: 1rem;
  }
  .header__nav--linksShow {
    width: 100%;
    overflow: hidden;
    animation-name: navLinksShow;
    animation-duration: 0.3s;
    animation-timing-function: ease;
  }
}
@keyframes navLinksShow {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes navLinksHide {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
.footer {
  background: #d9d9d9;
  padding: 20px;
  /* color: #000000; */
}
.footer__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer__row--diveCenter p {
  margin: 0;
}
.footer__row--socialNetworks {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.footer__row--socialNetworks a {
  color: #000000;
  font-size: 1.5rem;
  transition: transform 0.2s;
}
.footer__row--socialNetworks a:hover {
  transform: translateY(-5px);
  opacity: 0.5;
  transition: transform 0.2s;
}
.footer__row--contact {
  font-size: 0.8rem;
}
.footer__row--contact a {
  color: #000000;
  text-decoration: none;
}
.footer__row--contact a:hover {
  opacity: 0.5;
}
.footer__row--contact p {
  margin: 0;
}
.footer__row--logoPadi img {
  height: 60px;
}
.footer__row--logoPadi img:hover {
  opacity: 0.5;
  transition: 0.2s;
}
.footer__row--legal {
  font-size: 0.7rem;
  min-height: 70px;
}
.footer__row--legal a {
  text-decoration: none;
  color: #000000;
}
.footer__row--legal a:hover {
  opacity: 0.5;
  transition: 0.2s;
}

@media screen and (max-width: 768px) {
  .footer__row {
    flex-direction: column;
    gap: 10px;
  }
  .footer__row--contact p {
    text-align: center;
  }
  .footer__row--legal {
    min-height: 100px;
  }
  .footer__row--legal p {
    text-align: center;
  }
}
.btnATL {
  max-width: fit-content;
  padding: 10px;
}
.btnATL a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  background: #f2f2f2;
  background: rgba(0, 0, 0, 0);
  transition: color 0.3s ease, background 0.3s ease;
}
.btnATL a i {
  display: inline-block;
  margin-left: 10px;
}
.btnATL--rojo a {
  border: 2px solid #dc0054;
  color: #dc0054;
}
.btnATL--rojo a:hover {
  color: #ffffff;
  background: #dc0054;
}
.btnATL--verde a {
  border: 2px solid #006878;
  color: #006878;
}
.btnATL--verde a:hover {
  color: #ffffff;
  background: #006878;
}

.btnATLPagCursos {
  color: #dc0054;
  text-decoration: none;
  transition: all 0.5s;
}
.btnATLPagCursos:hover {
  color: #006878;
  transition: all 0.5s;
}

.welcome {
  position: relative;
}
.welcome__background--desktop {
  display: block;
  width: 100%;
}
.welcome__background--mobile {
  display: none;
  width: 100%;
}
.welcome__slides {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  width: 29%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
}
.welcome__slides p {
  font-size: 1.6rem;
  line-height: 1.2;
}
.carousel-indicators .welcome__slides--dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.welcome__padi {
  position: absolute;
  bottom: 20px;
  left: 33%;
  width: 12%;
}
.welcome__padi img {
  display: block;
  width: 100%;
}
.welcome__dan {
  position: absolute;
  bottom: 24px;
  right: 20px;
  width: 18%;
}
.welcome__dan img {
  display: block;
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .welcome__slides p {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 950px) {
  .welcome__slides p {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 850px) {
  .welcome__slides p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .welcome__background--desktop {
    display: none;
  }
  .welcome__background--mobile {
    display: block;
  }
  .welcome__slides {
    top: 60%;
    bottom: 0px;
    left: 0px;
    width: 100%;
  }
  .welcome__slides p {
    font-size: 1.2rem;
  }
  .welcome__padi {
    top: 10px;
    left: 75%;
    width: 20%;
  }
  .welcome__dan {
    top: 18px;
    left: 5%;
    width: 30%;
  }
}
@media screen and (max-width: 700px) {
  .welcome__slides {
    top: 50%;
  }
}
@media screen and (max-width: 600px) {
  .welcome__slides {
    top: 50%;
  }
  .welcome__slides p {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 500px) {
  .welcome__slides {
    top: 40%;
  }
  .welcome__slides p {
    font-size: 0.9rem;
  }
}
/*****************/
/* INTRO ESCUELA */
/*****************/
.intro__escuela {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.intro__escuela--left {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 460px;
  padding: 20px 10px;
}
.intro__escuela--left h1, .intro__escuela--left main h2, main .intro__escuela--left h2, .intro__escuela--left main h3, main .intro__escuela--left h3 {
  font-size: 3.5rem;
  margin: 0;
}
.intro__escuela--right {
  display: flex;
  justify-content: center;
  min-width: 480px;
  padding: 20px 10px;
}

@media screen and (max-width: 768px) {
  .intro__escuela {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .intro__escuela--right {
    min-width: 360px;
  }
}
/****************/
/* INTRO CURSOS */
/****************/
.intro__cursos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro__cursos h2 {
  margin-bottom: 3rem;
}
.intro__cursos--links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  margin-bottom: 3rem;
  padding: 0 20px;
}
.intro__cursos--links a {
  display: block;
}
.intro__cursos--links a img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .intro__cursos--links {
    grid-template-columns: repeat(1, 1fr);
  }
}
/*****************/
/* INTRO EL BUDA */
/*****************/
.intro__buda {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.intro__buda--left {
  display: flex;
  justify-content: center;
  min-width: 480px;
  padding: 20px 10px;
}
.intro__buda--right {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 460px;
  padding: 20px 10px;
}
.intro__buda--right h2 {
  font-size: 3.5rem;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .intro__buda {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .intro__buda--left {
    min-width: 360px;
  }
}
/****************/
/* INTRO VIAJES */
/****************/
.intro__viajes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro__viajes h2 {
  margin-bottom: 3rem;
}
.intro__viajes #homeViajes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-bottom: 3rem;
  padding: 0 50px;
  max-width: 1400px;
}
.intro__viajes #homeViajes img {
  display: block;
  width: 100%;
  border-radius: 5px;
}

@media screen and (max-width: 992px) {
  .intro__viajes #homeViajes {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 576px) {
  .intro__viajes #homeViajes {
    grid-template-columns: repeat(1, 1fr);
  }
}
/******************/
/* INTRO CONTACTO */
/******************/
.intro__contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro__contacto h2 {
  margin-bottom: 3rem;
}
.intro__contacto--detalles {
  max-width: 768px;
  margin: 0 50px;
}

@media screen and (max-width: 768px) {
  .intro__contacto--detalles {
    max-width: 90%;
    margin: 0;
  }
}
.cursos__flex {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 104, 120, 0.7);
  border-radius: 5px;
}
.cursos__flex hr {
  color: #dc0054;
}
.cursos__flex a {
  margin: 10px auto;
}

.flexLista {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}
.flexLista__ico {
  width: 30px;
  height: 30px;
  background-image: url(/img/common/shortcutIcon.ico);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 10px;
  margin-bottom: 25px;
}
.flexLista__texto {
  width: 100%;
  margin-bottom: 25px;
  text-align: justify;
}

.cursosCarousel {
  max-width: 400px;
  margin: 0 auto;
}

#viajesViajes img {
  display: block;
  width: 99%;
  margin: 3px auto;
}

.contact__form {
  width: 90%;
  margin: auto;
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
}
.contact__form legend {
  font-family: "OstrichSans-Heavy";
  font-size: 2.25rem;
  color: #ffffff;
  margin-bottom: 0.4rem;
  line-height: 1.1;
}
.contact__form .form-control,
.contact__form .form-select {
  margin-bottom: 8px;
}
.contact__form .form-control:focus,
.contact__form .form-select:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 104, 120, 0.25);
}

/*# sourceMappingURL=styles.css.map */
