nav {
	background: $colorATLVerde;
}

.nav-link {
	color: #ffffff;

	&:hover {
		opacity: 0.7;
		transition: all 0.5s;
	}
}

@media screen and (max-width: 768px) {
	.navbar-collapse {
		position: absolute;
		z-index: 1;
		background: $colorATLVerde;
		top: 58px;
		left: 0px;
		width: 100%;
	}
}
