$colorATLVerde: #006878; // rgba(0, 104, 120, 1)
$colorATLRojo: #dc0054; // rgba(220, 0, 84, 1)
$colorATLGrisBody: #f2f2f2;
$colorATLGrisBodyContr: #eaeaea;
$colorATLFooter: #d9d9d9;

$heightNavbar: 64px;
$borderATL: 1px solid red;
$borderATL: none;
