.btnATL {
  padding: 10px;

  a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    background: $colorATLGrisBody;
    transition: color 0.3s ease, background 0.3s ease;

    i {
      display: inline-block;
      margin-left: 10px;
    }
  }

  &--rojo {
    a {
      border: 2px solid $colorATLRojo;
      color: $colorATLRojo;

      &:hover {
        color: #ffffff;
        background: $colorATLRojo;
      }
    }
  }

  &--verde {
    a {
      border: 2px solid $colorATLVerde;
      color: $colorATLVerde;

      &:hover {
        color: #ffffff;
        background: $colorATLVerde;
      }
    }
  }
}

.btnATLPagCursos {
  color: $colorATLRojo;
  text-decoration: none;

  transition: all 0.5s;

  &:hover {
    color: $colorATLVerde;
    transition: all 0.5s;
  }
}
