/*********************/
/* CURSOS: PRINCIPAL */
/*********************/

.cursos__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "titulo   titulo"
    "detalles media";
  grid-gap: 60px;
  max-width: 1400px;
  margin: 0 auto 2rem auto;

  &--titulo {
    border: $borderATL;
    grid-area: titulo;
  }

  &--detalles {
    border: $borderATL;
    grid-area: detalles;

    &-content {
      display: flex;
      flex-direction: column;
      max-width: 550px;
      margin: 0 0 0 auto;
      padding: 0 0 0 50px;
    }
  }

  &--media {
    border: $borderATL;
    grid-area: media;

    &-content {
      display: flex;
      flex-direction: column;
      max-width: 550px;
      margin: 0 auto 0 0;
      padding: 0 50px 0 0;

      img {
        display: block;
        width: 100%;
        padding-bottom: 10px;
        //max-width: 550px;
        max-height: 250px;
        object-fit: cover;
      }
    }

    a {
      display: block;
      text-decoration: none;
      margin: 10px auto;

      img {
        width: 100%;
      }
    }
  }

  h2 {
    margin-top: 1rem;
  }

  hr {
    color: $colorATLRojo;
  }
}

@media screen and (max-width: 1100px) and (min-width: 769px) {
  .cursos__grid {
    &--detalles-content {
      padding: 0 0 0 15px;
    }

    &--media-content {
      padding: 0 15px 0 0;
    }
  }
}

@media screen and (max-width: 992px) and (min-width: 881px) {
  .cursos__grid {
    h2 {
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 880px) and (min-width: 769px) {
  .cursos__grid {
    h2 {
      font-size: 1.7rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .cursos__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "titulo"
      "detalles"
      "media";
    grid-gap: 20px;

    &--detalles-content,
    &--media-content {
      max-width: 500px;
      margin: 0 auto;
      padding: 0 15px;
    }
  }
}

.flexLista {
  display: flex;
  flex-direction: row;
  margin: 10px 0;

  &__ico {
    width: 30px;
    height: 30px;
    background-image: url(../img/common/shortcutIcon.ico);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
    margin-bottom: 25px;
  }

  &__texto {
    width: 100%;
    margin-bottom: 25px;
    text-align: justify;
  }
}

.cursosCarousel {
  max-width: 400px;
  margin: 0 auto;
}
